html, body {
	background-color: black;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
header {
	text-align: left;
	font-size: 35px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
}
p {
	font-size: 20px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
button {
	margin: 5px;
}
#mainbody {
	background-color: white;
	text-align: left;
}
.column {
	float: left;
	width: 33vw;
	background-color: white;
	text-align: left;
}
#message {
	border-style: solid;
	border-width: 10px;
	border-color: #A2A4A3;
	background-color: white;
	/*padding: 2px;
	margin-top: 5px;*/
	font-family: Courier, monospace;
	clear: both;
}